@import "tailwindcss";

body {
  background-color: #111827; /* Tailwind gray-900 */
  color: #f9fafb; /* Tailwind gray-50 */
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
