PUBLIC_FIREBASE_API_KEY="AIzaSyA..."
PUBLIC_FIREBASE_AUTH_DOMAIN="seiun-collection-prd.firebaseapp.com"
PUBLIC_FIREBASE_PROJECT_ID="seiun-collection-prd"
PUBLIC_FIREBASE_STORAGE_BUCKET="seiun-collection-prd.appspot.com"
PUBLIC_FIREBASE_MESSAGING_SENDER_ID="xxxxxxxxxxxx"
PUBLIC_FIREBASE_APP_ID="1:xxxxxxxxxxxx:web:xxxxxxxxxxxx"

# 本番ビルド時はエミュレータ接続を回避するため必ず "false" にする
PUBLIC_FIREBASE_USE_EMULATOR="false"

# お問い合わせ Google フォームのURL
PUBLIC_CONTACT_FORM_URL="https://docs.google.com/forms/d/e/1FAIpQLSfD_dummy_inquiry_form/viewform"

